@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/Roboto/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff") format("woff"),
  url("../fonts/Roboto/RobotoRegular/RobotoRegular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot");
  src: url("../fonts/Roboto/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Roboto/RobotoBold/RobotoBold.woff") format("woff"),
  url("../fonts/Roboto/RobotoBold/RobotoBold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/Roboto/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/Roboto/RobotoMedium/RobotoMedium.woff") format("woff"),
  url("../fonts/Roboto/RobotoMedium/RobotoMedium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
