@import "~common/styles/common/_variables";

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: relative;
  background-color: white;
  width: 600px;
  padding: 48px 40px;
  border-radius: 8px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2), 0 3px 14px rgba(0, 0, 0, 0.12), 0 8px 10px rgba(0, 0, 0, 0.14);
  max-height: 90vh;
  overflow: auto;

  .close {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }

  .content {
    //text-align: center;
  }

  &.small {
    min-width: 400px;
    width: max-content;
    padding: 24px 32px;
    border-radius: 5px;
  }
}

