@import "~common/styles/common/_variables";

.chip-item {
  background-color: $primary-700 !important;
  border-radius: 16px;
  color: $base2;
  margin-bottom: 8px;
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.chip-color {
  background-color: $primary-700;
  border-radius: 16px;
  color: $base2;
}

.delete-icon {
  color: $base2;
}